<section class="section about" id="about" data-anchor="about" [@fadeUp]="''">
  <div class="section-box">
    <header class="about__header">
      <h2 class="section-title">
        <span class="n-section-title">01.</span>
        {{ 'AboutMe.Title' | translate }}
      </h2>
    </header>

    <div class="about__grid" [@staggerChildren]="''">
      <article class="about__content" [@fadeUp]="''">
        <div class="about__paragraphs" [@staggerChildren]="''">
          <p
            *ngFor="let text of 'AboutMe.Paragraphs' | translate"
            class="about__paragraph"
            [innerHTML]="text"
            [@fadeUp]="''"
          ></p>
        </div>

        <div class="about__skills" [@staggerChildren]="''">
          <h4 class="about__skills-title gradient-text">Toolkit</h4>
          <ul class="about__skills-list">
            <li class="about__skill" [@fadeUp]="''"><span class="underline">Spring Framework</span></li>
            <li class="about__skill" [@fadeUp]="''"><span class="underline">RxJS</span></li>
            <li class="about__skill" [@fadeUp]="''"><span class="underline">HTML &amp; (S)CSS</span></li>
            <li class="about__skill" [@fadeUp]="''"><span class="underline">Angular</span></li>
            <li class="about__skill" [@fadeUp]="''"><span class="underline">Express</span></li>
            <li class="about__skill" [@fadeUp]="''"><span class="underline">WordPress</span></li>
            <li class="about__skill" [@fadeUp]="''"><span class="underline">Jasmine / Karma</span></li>
          </ul>
        </div>
      </article>

      <aside class="about__media" [@fadeUp]="''">
        <figure class="about__portrait" [ngClass]="{ 'no-image': !imageExists() }">
          <img
            (click)="analyticsService.sendAnalyticEvent('click_image', 'about', 'image')"
            class="about__img"
            src="assets/images/aboutme_pic.HEIC"
            alt="Amine Ifakkir portrait"
            loading="lazy"
            decoding="async"
            (error)="handleImageError($event)"
          />
          <span class="about__ring" aria-hidden="true"></span>
          <span class="about__pulse" aria-hidden="true"></span>
        </figure>
      </aside>
    </div>
  </div>
</section>
