<section class="section experience" id="experience" data-anchor="experience" [@fadeUp]="''">
  <div class="section-box">
    <header class="experience__header">
      <h3 class="section-title">
        <span class="n-section-title">03.</span>
        {{ 'Experience.Title' | translate }}
      </h3>
    </header>

    <div class="experience__layout" [@staggerChildren]="''">
      <nav class="experience__navigation" aria-label="Experience timeline" [@fadeUp]="''">
        <ul
          ngbNav
          #nav="ngbNav"
          [(activeId)]="active"
          orientation="vertical"
          class="experience__tabs"
          [destroyOnHide]="false"
        >
          <li
            *ngFor="let job of 'Experience.Jobs' | translate; let i = index"
            class="experience__tab"
            [ngbNavItem]="i"
          >
            <a ngbNavLink>
              <span class="experience__tab-indicator"></span>
              <span class="experience__tab-label">{{ job.Tab }}</span>
            </a>
            <ng-template ngbNavContent>
              <article class="experience__panel" [@fadeUp]="''">
                <header class="experience__panel-header">
                  <h4 class="experience__role">
                    {{ job.Title }}
                    <span class="experience__company">{{ job.Tab }}</span>
                  </h4>
                  <time class="experience__time">{{ job.Date }}</time>
                </header>
                <ul class="experience__bullets">
                  <li
                    *ngFor="let jobDescriptionParagraph of job.Description"
                    class="experience__bullet"
                    [innerHTML]="jobDescriptionParagraph | translate"
                  ></li>
                </ul>
              </article>
            </ng-template>
          </li>
        </ul>
      </nav>

      <div class="experience__details" [@fadeUp]="''">
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</section>
